extends layout

block content
  
  - if(error)
    p= error
  
  div(class='container')
    p
      table(width='100%' id="tablesorter-timesheets" class="display" )
        thead
          tr(style='font-weight:bold;')
            th Edit
            th Name
            th Affiliation
            th Hours
            th Date of Work
            th Comments
            th Status
            th Created
            th Created By
            th Updated
            th Updated By
        tbody
          - for (var r in timesheets)
            tr
              td
                if user.IsAdmin || timesheets[r].ApprovalStatus=='Pending'
                  a(href= '/timesheets/edit/' + timesheets[r].ID) Edit
              td= timesheets[r].Name
              td= timesheets[r].Affiliation
              td= timesheets[r].Hours
              td= timesheets[r].DateOfWork
              td= timesheets[r].Comment
              td= timesheets[r].ApprovalStatus
              td= timesheets[r].Created
              td= timesheets[r].CreatedByName
              td= timesheets[r].Updated
              td= timesheets[r].UpdatedByName
  
    a(href='/timesheets/create') Create New
  
  script(type='text/javascript').
    $(document).ready( function() { $('#tablesorter-timesheets').dataTable( { "bJQueryUI": true } ); } );

  
    