extends layout

block content


      
  - if(error)
    p= error
  
  h3= title
  
  h5
  div.top
    form.form-horizontal(method="post", id="save")
      fieldset
        label First Name: 
        input(type='text' id='FirstName' name='FirstName' value=users.FirstName)
        label Last Name:
        input(type='text' id='LastName' name='LastName' value=users.LastName)
        label Email Address:
        input(type='text' id='Email' name='Email' value=users.Email)      
        label Affiliation: 
        div(id='radioset')
          - for (var a in affiliations) 
            input(type='radio' id=affiliations[a].Name name='AffiliationId'  value=affiliations[a].ID checked=users.AffiliationId==affiliations[a].ID)
            label(for=affiliations[a].Name)
              = affiliations[a].Name
      br
      h4
        button(id='save' type='submit' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-button-text-only' role='button' aria-disabled='false')
          span(class='ui-button-text') &nbsp;Save Changes&nbsp; 
        button(id='save' type='submit' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-button-text-only' role='button' aria-disabled='false')
          span(class='ui-button-text')         
            a(href='/users') &nbsp;Cancel&nbsp; 
          



