extends layout

block content

  div(class='container')

    h3= title
  
    h5

    form.form-vertical(method="post", id="save")
      fieldset
        input(type='hidden' id='id' name='id' value=users.ID)
        label First Name: 
        input(type='text' id='FirstName' name='FirstName' value=users.FirstName)
        label Last Name:
        input(type='text' id='LastName' name='LastName' value=users.LastName)
        label Email Address:
        input(type='text' id='Email' name='Email' value=users.Email)      
        label Affiliation: 
        div(id='radioset')
          - for (var a in affiliations) 
            input(type='radio' id=affiliations[a].Name name='AffiliationId'  value=affiliations[a].ID checked=users.AffiliationId==affiliations[a].ID)
            label(for=affiliations[a].Name)
              = affiliations[a].Name
        label Status: 
        div(id='radioset2')
          input(type='radio' id='active_true' name='IsActive'  value='1' checked=users.IsActive)
          label(for='active_true') Active
          input(type='radio' id='active_false' name='IsActive'  value='0' checked=!users.IsActive)
          label(for='active_false') Inactive              
      br
      h4
        button(id='save' type='submit' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-button-text-only' role='button' aria-disabled='false')
          span(class='ui-button-text') &nbsp;Save Changes&nbsp; 
        button(id='save' type='submit' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-button-text-only' role='button' aria-disabled='false')
          span(class='ui-button-text')         
            a(href='/users') &nbsp;Cancel&nbsp; 
      h5
        if errors
          div(class="ui-state-error ui-corner-all" style="padding: 0 .7em; width:250px; ")
            p  Oops!
              span(class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;")
                - each error in errors
                  li= error.msg            
          
  script.
    $(function() {
      $( "#button" ).button();
      $( "#radioset" ).buttonset();
      $( "#radioset2" ).buttonset();
    });

